/* src/App.css */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #f4f7f6; */
  color: #333;
  line-height: 1.6;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header{
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-image: linear-gradient(to right, transparent 5%, #ddd 10%, #ddd 85%, transparent 95%) 100% 1;  
}

h1 {
  margin: 0px;
  font-size: 1.2rem;
  color: brown;
  flex: 1;
  text-align: left;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.locale-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.locale-switcher .active {
  font-weight: bolder;
  color: #333;
  opacity: 1;
}

.locale-switcher button {
  padding: 5px 5px 0px 5px;
  opacity: 0.5;
}

button:focus {
  outline:0;
}

.locale-switcher img {
  height: 20px;
  box-shadow: 0 0 1px #333333aa;
  border-radius: 10%;
}

.translation-form {
  background: white;
  border-radius: 8px;
  max-width: 1300px;
  max-height: 70%;
  margin: 20px auto;
}

.language-selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.language-selectors select {
  display: none;
}

.language-selector {
  flex: 1;
}

.language-selectors .active {
  border-color: brown;
  color: #333;
}

.recent-languages {
  display: flex;
}

.more-languages-button {
  padding-top: 10px;
  padding-bottom: 0px;
  font-size: 20px;
}

.languages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 1;
  padding: 0px;
  width: 50%;
  overflow: hidden;
}

.languages-list.tgt {
  right: 0;
}

.language {
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.languages-list span {
  color:#999;
  font-size: 14px;
}

.languages-list .active span {
  color:#333;
}

.languages-list .language {
  padding: 0px 0px 0 15px;
}

.languages-list .language:hover span {
  color: #333;
}

.languages-list .active {
  border: 0;
  background-color: #ffe9e9 !important;
}

.languages-list .language:hover {
  background-color: #f2f2f2;
}

.text-areas {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

textarea, .translation, .input-area, .translation-area {
  width: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.translation {
  background-color: #f2f2f2;
}

.variant {
  border-bottom: #ddd 1px solid;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.variant:last-child {
  border-bottom: none;
}

.variant:hover {
  background-color: #ffd2d2;
}

textarea:focus {
  outline: none;
}

.translatedSentence {
  cursor: pointer;
  white-space: pre-wrap;
  z-index: auto;
  position: relative;
}

.translatedSentence:hover, .showVariants {
  background-color: #ffd2d2;
}

.translation-variants {
  font-size: small;
  position: absolute;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

button {
  background-color: transparent;
  color:  #999;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
  color: #333;
  box-shadow: none;
}

button:disabled {
  color: transparent;
  cursor: default;
}

.translation-result p {
  word-wrap: break-word;
}

.text-areas {
  position: relative;
}

.sourceText, .translationText {
  min-height: 185px;
  resize: none;
  padding: 10px;
  text-align: left;
  caret-color: brown;
}

.sourceText:focus {
  outline: none;
}

.tools-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.translation-area {
  background-color: #f2f2f2;
}

.text-areas {
  display: flex;
  flex-direction: row;
}

.input-area, .translation-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.sourceText, .translationText {
  flex-grow: 1; 
}

body {
  overflow: auto;
}

.paragraph {
  position: relative;}

.selected {
  background-color: #ffe9e9;
}

[contenteditable]:empty:before{
  content:attr(placeholder);
  color:rgb(193, 179, 179);
}

@media (max-width: 800px) {

  .App {
    padding: 0px;
  }

  .App-header{
    display: grid;
    padding: 10px;
    border-bottom: 0;
    border-image: unset;  
  }

  h1 {
    justify-self: center;
    margin: unset;
    font-size: large;
    margin-bottom: 0px;
    color: brown;
    padding-bottom: 10px;
  }

  body {
    background-color: #fff;
  }

  .translation-form {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
  }

  .language-selectors {
    display: flex;
    flex-direction: row;
    padding: 0px; 
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent 10%, #ddd 25%, #ddd 75%, transparent 90%) 100% 1;  
    align-items: center;
  }

  .language-selectors select {
    display: block;
    align-self: center;
    font-size: large;   
    padding: 0px; 
    margin: 0px;
    flex-grow: 1;
    min-width: 0px;
    color: #333;
    background-color: #ffffff;
    border: none;
    padding-left: 20px;
    justify-items: start;
  }

  .language-selectors .recent-languages {
    display: none;
  }

  .language-selectors select:focus {
    outline: none;
    background-color: #ffffff;
    color: #333;
  }

  .text-areas {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    font-size: x-large; 
    border: none;
  }

  .input-area, .translation-area {
    width: 100%;
    padding: 0px;
    border: unset;
  }

  .input-area {
    height: auto;
  }

  .translation-area {
    height: auto;
    border-bottom-left-radius: 30px; /* adjust as needed */
    border-bottom-right-radius: 30px;
  }

  .sourceText {
    min-height: 5vh;
  }

  .translationText {
    min-height: 5vh;
  }

  button, select {
    -webkit-tap-highlight-color: transparent;
    color: #333;
  }

  button:hover {
    background-color: transparent;
  }

  .locale-switcher {
    position: absolute;
    flex-direction: column;
    z-index: 1;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .locale-switcher button {
    display: none;
    order: 1;
  }
  
  .locale-switcher:hover button {
    display: block;
    background-color: #ffffff;
  }
  
  .locale-switcher .active {
    display: block;
    font-weight: bolder;
    color: #333;
    order: 0;
  }

}